<%= form_with scope: :nmapscan, url: nmapscans_path, local: true do |form| %>

<% if @nmapscan.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@nmapscan.errors.count, "error") %> prohibited this scan from being saved:
  </h2>
  <ul>
    <% @nmapscan.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form.label :target %>
<%= form.text_field :target, :value => "127.0.0.1" %>

<%= form.label :port, "Ports (Single, Range, or Comma Separated List)" %>
<%= form.number_field :port, :value => "22" %>

<%= form.label "Evasion" %>
<%= form.label "Fragment" %>
<div class="switch">
  <input name="nmapscan[fragment]" type="hidden" value="off">
  <input id="fragment" name="nmapscan[fragment]" type="checkbox">
  <%= label_tag :fragment %>
</div>

<!--    
<%= form.check_box :zombie %>
<%= label_tag :zombie, "Zombie Scan" %> 
-->

<%= form.label :version_detection %>
<%= form.label "Operating System" %>
<div class="switch">
  <input name="nmapscan[os]" type="hidden" value="off">
  <input id="os" name="nmapscan[os]" type="checkbox">
  <%= label_tag :os %>
</div>

<%= form.label "Service Version" %>
<div class="switch">
  <input name="nmapscan[service_version]" type="hidden" value="off">
  <input id="service_version" name="nmapscan[service_version]" type="checkbox">
  <%= label_tag :service_version %>
</div>

<%= form.label :scripts %>
<%= form.label "Safe" %>
<div class="switch">
  <input name="nmapscan[safe]" type="hidden" value="off">
  <input id="safe" name="nmapscan[safe]" type="checkbox">
  <%= label_tag :safe %>
</div>

<%= form.label "Vuln" %>
<div class="switch">
  <input name="nmapscan[vuln]" type="hidden" value="off">
  <input id="vuln" name="nmapscan[vuln]" type="checkbox">
  <%= label_tag :vuln %>
</div>

<%= form.label :speed %>
<div class="row">
  <div class="small-10 columns">
    <div class="range-slider" data-slider data-options="start:1; end: 5; step:1; display_selector: #speed; initial: 4; precision: 0;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
    </div>
  </div>
  <div class="small-2 columns">
    <input type="number" id="speed" name="nmapscan[speed]" value="" />
  </div>
</div>

<%= form.label :ping %>
<div class="switch">
  <input name="nmapscan[ping]" type="hidden" value="off">
  <input id="ping" name="nmapscan[ping]" type="checkbox">
  <%= label_tag :ping %>
</div>

<%= form.submit data: { confirm: 'Scan will run in the background' } %>
<% end %>