<%= form_with scope: :nmapscan, url: nmapscans_path, local: true do |form| %>
  <% if @nmapscan.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@nmapscan.errors.count, "error") %> prohibited this scan from being saved:</h2>
 
    <ul>
    <% @nmapscan.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= form.label :target %></br>
    <%= form.text_field :target %>
  </p>

  <p>
    <%= form.label :port, "Ports (Single, Range, or Comma Separated List)" %></br>
    <%= form.text_field :port %>
  </p>

  <p>
    <%= form.label :evasion %></br>
    <%= form.check_box :fragment %>
    <%= label_tag :fragment, "Fragment Packets" %>
<!--    
    <%= form.check_box :zombie %>
    <%= label_tag :zombie, "Zombie Scan" %> 
-->
  </p>

  <p>
    <%= form.label :version_detection %></br>
    <%= form.check_box :os %>
    <%= label_tag :os, "Operating System" %></br>
    <%= form.check_box :service_version %>
    <%= label_tag :service_version, "Service Version" %>
  </p>

    <p>
    <%= form.label :scripts %></br>
    <%= form.check_box :safe %>
    <%= label_tag :safe, "Safe" %></br>
    <%= form.check_box :vuln %>
    <%= label_tag :vuln, "Vulnerability" %>
  </p>

    <p>
    <%= form.label :speed %></br>
    <%= form.radio_button :speed, "T1", {} %>
    <%= label_tag :t1, "T1" %></br>
    <%= form.radio_button :speed, "T2", {} %>
    <%= label_tag :t2, "T2" %></br>
    <%= form.radio_button :speed, "T3", {} %>
    <%= label_tag :t3, "T3" %></br>
    <%= form.radio_button :speed, "T4", {} %>
    <%= label_tag :t4, "T4" %></br>
    <%= form.radio_button :speed, "T5", {} %>
    <%= label_tag :t5, "T5" %></br>
  </p>

  <p>
    <%= form.label :ping %></br>
    <%= form.radio_button :ping, "true", {} %>
    <%= label_tag :ping_true, "Include a ping scan" %></br>
    <%= form.radio_button :ping, "false", {} %>
    <%= label_tag :ping_false, "Do not do a ping scan" %>
  </p>

  <p>
    <%= form.submit data: { confirm: 'Scan will run in the background' } %>
  </p>
<% end %>